body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#Line1
{
   border-color: #A0A0A0;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#Button1
{
   box-sizing: border-box;
   line-height: 42px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #FFFF00;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#MenuBar2
{
   background-color: #000000;
   border: 4px solid #000000;
}
.MenuBar2SubMenu
{
   background-color: transparent;
   border: 4px solid #000000;
   position:	absolute;
   visibility: hidden;
   overflow: visible;
   z-index: 100;
}
.MenuBar2SubMenuTable
{
   cursor: default;
   border: 0;
   padding: 0;
}
.MenuBar2SubMenuTable tr
{
   margin: 0;
   padding: 0;
}
.MenuBar2Menu
{
   background-color: transparent;
   margin: 0px 0 0px 0px;
   padding: 0;
}
.MenuBar2MenuOuter
{
   background-color: transparent;
   border: 0px solid #000000;
}
.MenuBar2Menu tr
{
   margin: 0;
   padding: 0;
}
.MenuBar2MainItem .MenuBar2MainItemLeft,
.MenuBar2MainItem .MenuBar2MainFolderLeft
{
   width: 0px;
   cursor: pointer;
   border-width: 0;
   text-align: center;
   padding: 10px 0px 10px 0px;
   font-size: 1px;
}
.MenuBar2MainItem .MenuBar2MainItemText, 
.MenuBar2MainItem .MenuBar2MainItemText a,
.MenuBar2MainItem .MenuBar2MainFolderText,
.MenuBar2MainItem .MenuBar2MainFolderText a
{
   background-color: #000000;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   text-align: left;
   text-decoration: none;
   white-space: nowrap;
   margin: 0;
   cursor: pointer;
   border-bottom: 1px solid #000000;
   border-right: 1px solid #000000;
   border-top: 1px solid #000000;
   border-left: 1px solid #000000;
   padding: 10px 10px 10px 10px;
   vertical-align: middle;
}
.MenuBar2MainItem .MenuBar2MainItemRight,
.MenuBar2MainItem .MenuBar2MainFolderRight
{
   width: 0px;
   cursor: pointer;
   border-width: 0;
   padding: 10px 0px 10px 0px;
   font-size: 1px;
}
.MenuBar2MainItemHover .MenuBar2MainItemLeft,
.MenuBar2MainItemActive .MenuBar2MainItemLeft,
.MenuBar2MainItemHover .MenuBar2MainFolderLeft,
.MenuBar2MainItemActive .MenuBar2MainFolderLeft
{
   width: 0px;
   cursor: pointer;
   border-width: 0;
   padding: 10px 0px 10px 0px;
   font-size: 1px;
}
.MenuBar2MainItemHover .MenuBar2MainItemText,
.MenuBar2MainItemActive .MenuBar2MainItemText,
.MenuBar2MainItemHover .MenuBar2MainItemText a,
.MenuBar2MainItemActive .MenuBar2MainItemText a,
.MenuBar2MainItemHover .MenuBar2MainFolderText,
.MenuBar2MainItemActive .MenuBar2MainFolderText,
.MenuBar2MainItemHover .MenuBar2MainFolderText a,
.MenuBar2MainItemActive .MenuBar2MainFolderText a
{
   background-color: #DCDCDC;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   text-align: left;
   text-decoration: none;
   white-space: nowrap;
   margin: 0;
   cursor: pointer;
   border-bottom: 1px solid #FFFFFF;
   border-right: 1px solid #FFFFFF;
   border-top: 1px solid #FFFFFF;
   border-left: 1px solid #FFFFFF;
   padding: 10px 10px 10px 10px;
   vertical-align: middle;
}
.MenuBar2MainItemHover .MenuBar2MainItemRight,
.MenuBar2MainItemActive .MenuBar2MainItemRight,
.MenuBar2MainItemHover .MenuBar2MainFolderRight,
.MenuBar2MainItemActive .MenuBar2MainFolderRight
{
   width: 0px;
   cursor: pointer;
   border-width: 0;
   padding: 10px 0px 10px 0px;
   font-size: 1px;
}
.MenuBar2MenuItem .MenuBar2MenuItemLeft,
.MenuBar2MenuItem .MenuBar2MenuFolderLeft
{
   width: 0px;
   cursor: pointer;
   border-width: 0;
   text-align: center;
   padding: 10px 0px 10px 0px;
   font-size: 1px;
}
.MenuBar2MenuItem .MenuBar2MenuItemText, 
.MenuBar2MenuItem .MenuBar2MenuItemText a,
.MenuBar2MenuItem .MenuBar2MenuFolderText,
.MenuBar2MenuItem .MenuBar2MenuFolderText a
{
   background-color: #DCDCDC;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   text-align: left;
   text-decoration: none;
   white-space: nowrap;
   margin: 0;
   cursor: pointer;
   border-bottom: 1px solid #DCDCDC;
   border-top: 1px solid #DCDCDC;
   border-right: 1px solid #DCDCDC;
   border-left: 1px solid #DCDCDC;
   padding: 10px 10px 10px 10px;
   vertical-align: middle;
}
.MenuBar2MenuItem .MenuBar2MenuItemRight,
.MenuBar2MenuItem .MenuBar2MenuFolderRight
{
   width: 0px;
   cursor: pointer;
   border-width: 0;
   padding: 10px 0px 10px 0px;
   font-size: 1px;
}
.MenuBar2MenuItemHover .MenuBar2MenuItemLeft, 
.MenuBar2MenuItemActive .MenuBar2MenuItemLeft,
.MenuBar2MenuItemHover .MenuBar2MenuFolderLeft,
.MenuBar2MenuItemActive .MenuBar2MenuFolderLeft
{
   width: 0px;
   cursor: pointer;
   border-width: 0;
   padding: 10px 0px 10px 0px;
   font-size: 1px;
}
.MenuBar2MenuItemHover .MenuBar2MenuItemText,
.MenuBar2MenuItemActive .MenuBar2MenuItemText,
.MenuBar2MenuItemHover .MenuBar2MenuItemText a,
.MenuBar2MenuItemActive .MenuBar2MenuItemText a,
.MenuBar2MenuItemHover .MenuBar2MenuFolderText,
.MenuBar2MenuItemActive .MenuBar2MenuFolderText,
.MenuBar2MenuItemHover .MenuBar2MenuFolderText a,
.MenuBar2MenuItemActive .MenuBar2MenuFolderText a
{
   background-color: #DCDCDC;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   text-align: left;
   text-decoration: none;
   white-space: nowrap;
   margin: 0;
   cursor: pointer;
   border-bottom: 1px solid #FFFFFF;
   border-top: 1px solid #FFFFFF;
   border-right: 1px solid #FFFFFF;
   border-left: 1px solid #FFFFFF;
   padding: 10px 10px 10px 10px;
   vertical-align: middle;
}
.MenuBar2MenuItemHover .MenuBar2MenuItemRight,
.MenuBar2MenuItemActive .MenuBar2MenuItemRight,
.MenuBar2MenuItemHover .MenuBar2MenuFolderRight,
.MenuBar2MenuItemActive .MenuBar2MenuFolderRight
{
   width: 0px;
   cursor: pointer;
   border-width: 0;
   padding: 10px 0px 10px 0px;
   font-size: 1px;
}
.MenuBar2SubMenu td,
.MenuBar2Menu td,
.MenuBar2Menu tr
{
   vertical-align: middle;
}
.MenuBar2MenuSplitText div
{
   height: 1px;
   padding: 0;
   background-color: #FFFFFF;
   overflow: hidden;
}
.MenuBar2MenuItem .MenuBar2MenuSplitLeft
{
   height: 21px;
   padding: 0;
}
.MenuBar2MenuItem .MenuBar2MenuSplitText
{
   background-color: #DCDCDC;
   height: 21px;
   padding: 0px 6px 0px 6px;
}
.MenuBar2MenuItem .MenuBar2MenuSplitRight
{
   height: 21px;
   padding: 0;
}
.MenuBar2MainSplitText div
{
   background-color: #FFFFFF;
   height: 1px;
   padding: 0;
   overflow: hidden;
}
.MenuBar2MainItem .MenuBar2MainSplitLeft 
{
   height: 23px;
   padding: 0;
}
.MenuBar2MainItem .MenuBar2MainSplitText
{
   background-color: #000000;
   height: 23px;
   padding: 0;
}
.MenuBar2MainItem .MenuBar2MainSplitRight
{
   height: 23px;
   padding: 0;
}
.MenuBar2MainItem
{
   vertical-align: middle;
}
.MenuBar2HorizontalSplit
{
   border-right: 0 solid #8080FF;
   border-left: 0 solid #8080FF;
   width: 27px;
   background-color: #000000;
   padding: 10px 0px 10px 0px;
   vertical-align: middle;
   text-align: center;
   text-decoration: none;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-style: normal;
}
.MenuBar2MainItem, .MenuBar2MainItemHover, .MenuBar2MainItemActive,
.MenuBar2MenuItem, .MenuBar2MenuItemHover, .MenuBar2MenuItemActive
{
   white-space: nowrap;
}
.MenuBar2SpacerDiv
{
   background: transparent;
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 1px;
}
#wb_MenuBar2
{
   z-index: 1111 !important;
}
